:root{
  // colors //
  --white-color:      #ffffff;
  --lightgrey-color:  #f7f7f7e6;
  --primary-color:    #3fdfeb;
  --grey-color:       #333333;
  
  // medidas //
  --navbar-medida: 4rem;
  --section-medida: 100vh;

  // box-shadow //
  --default-shadow: 0 3px 6px rgba(0,0,0,0.2);
  --btn-shadow:     0 3px 4px rgba(0,0,0,0.6);
  --box-shadow:     0 2px 8px rgba(0,0,0,0.8);
  --card-shadow:    0 4px 9px 4px rgba(211, 211, 211, 0.8);
}

// .is-light-mode{

// }

// .is-dark-mode{

// }
